<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.XA.Feature.Redirects.Pipelines.HttpRequest.RedirectMapResolver, Sitecore.XA.Feature.Redirects" set:type="Sitecore.Support.XA.Feature.Redirects.Pipelines.HttpRequest.RedirectMapResolver, Sitecore.Support.7432"  />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>